/*.log
/target
/*-init.clj
/resources/public/js/compiled
/doo-index.html
/package-lock.json
/node_modules/
out
.idea
*.iml
*.jar
*.log
.nrepl-*
.lein-*
pom.xml
pom.xml.asc
core/
out/
target/
compiled*/
misc/
*.swo
*.swp
.DS_Store
.rebel_readline_history
